html{
    background-color: rgb(17, 4, 3);
    color: rgb(187, 171, 156);
}

.bird-img {
    max-width: 400px;
    max-height: 400px;
}

.bg-container{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255. 5.0);
}

.border-bottom {
    border-bottom: 1px solid rgb(187, 171, 156);
}

.nav-link {
    width: 60px;
    text-align: center;
    border-radius: 10px;
}

.nav-link:hover {
    background: black;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}

.bird-card {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border:1px solid rgb(187, 171, 156);
    border-radius: 10px;
}

.bird-card:hover {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
}
